[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
django-allauth = "*"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
django-environ = "*"
django-extensions = "*"
psycopg2 = "*"
bcrypt = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
